{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{{ entity.title }}</h1>
    <p>{{ entity.description }}</p>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addList">
        Add a list
    </button>
    <a href="{{ path('board_edit', { 'id': entity.id }) }}" class="btn btn-info">edit</a>

    <hr/>

    <div class="scroll-x" data-id="{{ entity.id }}">
        <div class="scroll">
            {% for liste in entity.getListe() %}
                <div class="liste" data-id="{{ liste.id }}">
                    <div class="well">
                        <b><em>{{ liste.title }}</em></b>
                        <div class="pull-right">
                            <button type="button" class="btn btn-primary click" data-id="{{ liste.id }}" data-toggle="modal" data-target="#addCard">
                                <i class="glyphicon glyphicon-plus"></i>
                            </button>
                            <button type="button" class="btn btn-danger delete" data-id="{{ liste.id }}">
                                <i class="glyphicon glyphicon-remove"></i>
                            </button>
                        </div>
                        <hr/>
                        <ul class="list-group clear liste-color">
                            {% for card in liste.getCard() %}
                                <li class="list-group-item" data-id="{{ card.id }}">
                                    <b>{{ card.title }}</b>
                                    <em>{{ card.description }}</em>
                                    <button type="button" class="pull-right delete-card" data-id="{{ card.id }}">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </button>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="modal fade" id="addList" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add a list</h4>
                </div>
                <div class="modal-body">
                    <input type="text" id="listName" placeholder="Name"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="submitList">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addCard" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel2">Add a Card</h4>
                </div>
                <div class="modal-body">
                    <input type="text" id="cardName" placeholder="Name"/>
                    <input type="text" id="cardDescription" placeholder="Description"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="submitCard">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    {{ form(delete_form) }}
{% endblock %}
