<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('bundles/trelloapp/css/style.css') }}" type="text/css" rel="stylesheet" />

</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#headercollapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('trello_app_homepage') }}">MyTrello</a>
            </div>

            <div class="collapse navbar-collapse" id="headercollapse">
                <ul class="nav navbar-nav navbar-left">
                    {%  if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li><a href="{{ path('board_new') }}">Create board</a></li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {%  if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li><a href="{{ path('fos_user_profile_show') }}">My Account</a></li>
                        <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                    {% else %}
                        <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
                        <li><a href="{{ path('fos_user_registration_register') }}">Sing In</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        {% block body %}{% endblock %}
    </div>
    <footer>
        <div class="navbar navbar-default navbar-fixed-bottom">
            <div class="container">
                <ul class="nav navbar-nav">
                    <li><a href="#">&copy; 2015 Mickaël VILLERS - All Rights Reserved.</a></li>
                </ul>
            </div>
        </div>
    </footer>
    {% block javascripts %}{% endblock %}
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('bundles/trelloapp/jqueryui/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    <script src="{{ asset('bundles/trelloapp/js/main.js') }}"></script>
</body>
</html>
